{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Account Listing</title>
{% endblock %}

{% block customhead %}
<link
  rel="stylesheet"
  href="{% static 'css/accounts.css' %}"
  type="text/css"
/>
<script src="{% static 'js/complex_transaction.js' %}"></script>
{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-4">
  <div>
    {% for acct_type, accounts in accounts.items %}
    <div class="collapse collapse-arrow">
      <input type="checkbox" />
      <div class="collapse-title text-sm p-1">{{ acct_type|upper }}</div>
      <div class="collapse-content text-sm">
        {% include "acctmgr/account_parent.html" %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-span-3">
    {% if transaction_entries  %}
    <h2 class="text-2xl">{{ selected_account.name }}</h2>
    <br />
    {% include "ledger/account_entry_list.html" %}
      <form class="bg-slate-800" action="{% url 'ledger:xact-create' %}" method="POST">
        {% csrf_token %}
        {{ transaction_create_form }}
        <button type="submit">Create Transaction</button>
        <button type="button" id="show-complex">Show Split</button>
      </form>
    {% else %}
    <h2>Please select an account.</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
