<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Account Listing</title>
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div>
      {% for acct_type, accounts in accounts.items %}
      <div class="collapse collapse-arrow">
        <input type="checkbox" />
        <div class="collapse-title text-sm p-1">{{ acct_type|upper }}</div>
        <div class="collapse-content text-sm">
          {% include "acctmgr/account_parent.html" %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
